<section>
    <h3 class="title">About</h3>
    <p>I'm a software developer from Cebu City, Philippines. As a software developer, I spent different areas from backend programming
        (Java EE, Spring Framework, Java Core) to frontend development (CSS, HTML, Javascript, AngularJS, jQuery) sometimes
        with search engine optimization (SEO). I am passionate more about software development which can help and improve
        from small business to enterprise.</p>

    <h4>Pesonal</h4>
    <div id="about-details">
        <div class="row">
            <div class="col-lg-6">

                <ul>
                    <li>
                        <img src="../../../../icons/Age_20px.png" alt="">
                    </li>
                    <li>Age: 20</li>
                </ul>
                <ul>
                    <li>
                        <img src="../../../../icons/Birthday_20px.png" alt="">
                    </li>
                    <li>Birthdate: September 1, 1997</li>
                </ul>
                <ul>
                    <li>
                        <img src="../../../../icons/Weight_20px.png" alt="">
                    </li>
                    <li>Weight: 65 kg</li>
                </ul>
                <ul>
                    <li>
                        <img src="../../../../icons/Height_20px.png" alt="">
                    </li>
                    <li>Height: 5.7 in.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>
                        <img src="../../../../icons/City Church_20px.png" alt="">
                    </li>
                    <li>Religion: Iglesia ni Cristo</li>
                </ul>
                <ul>
                    <li>
                        <img src="../../../../icons/Connected No Data_20px.png" alt="">
                    </li>
                    <li>Civil Status: Single</li>
                </ul>
                <ul>
                    <li>
                        <img src="../../../../icons/Destination_20px.png" alt="">
                    </li>
                    <li>Nationality: Filipino</li>
                </ul>
            </div>
        </div>

    </div>

</section>