<section>
    <h3 class="title">Education</h3>
    <div id="education-wrapper">
        <h4>Bachelor of Science in Computer Engineering </h4>
        <h6>UNIVERSITY OF CEBU - MAIN CAMPUS </h6>
        <h6>JUNE 11, 2014 - PRESENT </h6>
        <div class="educational-content">
            <p>Computer Engineering is a profession. Computer engineers evaluate users' needs and utilize principles from computer
                science and mathematics to create software that meets the requirements. They develop algorithms and convert
                them into programming language.</p>
        </div>
        <h4>Secondary</h4>
        <h6>Marcelino R. Veloso National High School</h6>
        <h6>JUNE 8, 2010 - MARCH 15, 2014 </h6>
        <div class="educational-content">
            <ul>
                <li>
                    <h6>TESDA CERTIFIED NC2 - Electrical</h6>
                </li>
                <li>
                    <h6>Electricity Major</h6>
                </li>
            </ul>
        </div>

    </div>
</section>