<section>
    <h3 class="title">Skills</h3>
    <div class="row">
        <div class="col-lg-6">
            <h6 class="text-center">Front End</h6>
            <h6>HTML5</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <h6>CSS3</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">88%</div>
            </div>
            <h6>Javascript</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <h6>Angularjs</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
            <h6>Angular</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col-lg-6">
            <h6 class="text-center">Back End</h6>
            <h6>Java Core</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <h6>Java EE</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 82%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">82%</div>
            </div>
            <h6>Spring Framework</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <h6>Spring Boot</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 84%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">84%</div>
            </div>
            <h6>RESTful API</h6>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
    </div>
</section>